.defualt {
  --font-Poppins: "Poppins", sans-serif;
  --verticalPadding: 0 9.920634920634921vw;
  --containerPadding: 0 6.613756613756613vw;
  --containerMarginTop: 9.25925925925926vw;
  --backgroundContainerPadding: 6.510416666666667vw 9.765625vw;
  --mobileContainerMarginTop: 16vw;
  --mobileContainerPadding: 0 6.4vw;
  --mobileBackgroundContainerPadding: 10.666666666666668vw 6.4vw;
  --borderRadius: 0.6613756613756614vw;
  --mobileBorderRadius: 2.666666666666667vw;
  --padding100: 6.613756613756613vw;
  --margin15: 0.992063492063492vw;
  --margin20: 1.3227513227513228vw;
  --margin30: 1.984126984126984vw;
  --margin70: 4.62962962962963vw;
  --margin100: 6.613756613756613vw;
  --gap70: 4.62962962962963vw;
  --gap20: 1.3227513227513228vw;
  --gap30: 1.984126984126984vw;
  --gap40: 2.6455026455026456vw;
  --gap50: 3.3068783068783065vw;
  --mainbgColor: #12171c;
  --bgColor: #0c1117;
  --font18: 1.1904761904761905vw;
  --font24: 1.5873015873015872vw;
  --font28: 1.8518518518518516vw;
  --lineHeight18: 1.6666666666666667vw;
  --lineHeight24: 2.2222222222222223vw;
  --lineHeight28: 2.169973544973545vw;
  --letterSpace18: 0.023809523809523808vw;
  --letterSpace24: 0.015873015873015872vw;
  --letterSpace28: 0.03703703703703704vw;
  --mfont16: 4.266666666666667vw;
  --mlineHeight16: 5.973333333333334vw;
  --mletterSpace16: 0.08533333333333333vw;

  --mfont12: 3.2vw;
  --mlineHeight12: 4.4799999999999995vw;
  --mletterSpace12: 0.4266666666666667vw;
  --mfont14: 3.733333333333334vw;
  --mlineHeight14: 5.226666666666667vw;
  --mletterSpace14: 0.4266666666666667vw;

  --mfont18: 4.8vw;
  --mlineHeight18: 5.624vw;
  --mletterSpace18: 0.4266666666666667vw;
}

.container {
  margin-top: var(--containerMarginTop);
  padding: 0 2.6455026455026456vw 2.1164021164021163vw 2.6455026455026456vw;
}

.bgContainer {
  position: relative;
}

.bgImage {
  width: 94.70899470899471vw;
  height: 46.164021164021165vw;
}

.titles {
  position: absolute;
  top: 0;
  width: 80.15873015873017vw;
  left: 7.25vw;
  padding: 5.291005291005291vw 3.968253968253968vw 1.7195767195767195vw
    3.968253968253968vw;

  display: flex;
  justify-content: space-around;
}

.titles h2 {
  color: #ffffff;
  width: 36.30952380952381vw;
}

.absoluteContainer {
  position: absolute;
  top: 19.31216931216931vw;
  padding: 0 5.291005291005291vw 0vw 5.291005291005291vw;
}

.contentContainer {
  display: flex;
  gap: 8.002645502645503vw;
}

.firstCol {
  width: 22.61904761904762vw;
}

.logoContainer {
  width: 12.632275132275133vw;
  height: 3.0423280423280423vw;
  margin-bottom: 1.5873015873015872vw;
}

.logoContainer img {
  width: 100%;
  height: 100%;
}

.firstCol p {
  color: rgba(255, 255, 255, 0.8);
}

.secondCol {
  display: flex;
  flex-direction: column;
  gap: 1.0582010582010581vw;
  width: 6.67989417989418vw;
}

.secondCol p:nth-child(1) {
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 1.5873015873015872vw;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1.0582010582010581vw;
}

.secondCol a {
  position: relative;
  padding-bottom: 0.3306878306878307vw;
  color: rgba(255, 255, 255, 0.8);
}

.secondCol a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 100%
  );
  transition: width 0.3s ease;
}

.secondCol a:hover::before {
  width: 100%;
}

.thirdCol {
  display: flex;
  flex-direction: column;
  gap: 1.0582010582010581vw;
  width: 17.261904761904763vw;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 1.0582010582010581vw;
  width: 17.261904761904763vw;
}

.thirdCol p:nth-child(1) {
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 1.5873015873015872vw;
}

.card {
  display: flex;
  gap: 0.7936507936507936vw;
  align-items: flex-start;
  justify-content: flex-start;
}

.card img {
  width: 1.3227513227513228vw;
  height: 1.3227513227513228vw;
  margin-top: 0.5vw;
}

.card h3 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.1904761904761905vw;
  font-weight: 400;
}

.fourthCol {
  display: flex;
  flex-direction: column;
  gap: 1.0582010582010581vw;
  width: 13.558201058201059vw;
}

.fourthCol p:nth-child(1) {
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 1.5873015873015872vw;
}

.socials {
  display: flex;
  gap: 0.992063492063492vw;
}

.socials img {
  width: 2.6455026455026456vw;
  height: 2.6455026455026456vw;
}

.copyRightContainer {
  display: flex;
  justify-content: center;
  margin-top: 5vw;
}

.copyRight {
  border-top: 0.06613756613756613vw solid rgba(255, 255, 255, 0.4);
  padding-top: 1.5873015873015872vw;
  color: rgba(255, 255, 255, 0.8);
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .container {
    margin-top: 16vw;
    padding: 0 2.1333333333333333vw;
  }

  .bgContainer {
    position: relative;
  }

  .bgImage {
    width: 95.73333333333333vw;
    height: 235.2vw;
  }

  .titles {
    position: absolute;
    top: 0;
    width: 82.5vw;
    left: 6.5vw;
    padding: 10.666666666666668vw 7.733333333333333vw 1.7195767195767195vw
      7.733333333333333vw;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .titles h2 {
    color: #ffffff;
    width: 67.46666666666667vw;
    margin-bottom: 4.266666666666667vw;
  }

  .absoluteContainer {
    position: absolute;
    top: 57.06666666666666vw;
    padding: 0 8vw;
  }

  .contentContainer {
    display: flex;
    flex-direction: column;
    gap: 8vw;
  }

  .firstCol {
    width: 100%;
  }

  .logoContainer {
    width: 35.46666666666667vw;
    height: 8.533333333333333vw;
    margin-bottom: 4.266666666666667vw;
  }

  .logoContainer img {
    width: 100%;
    height: 100%;
  }

  .firstCol p {
    color: #ffffff;
  }

  .secondCol {
    width: 100%;
  }

  .secondCol p:nth-child(1) {
    margin-bottom: 5.333333333333334vw;
  }

  .links {
    display: flex;
    flex-direction: row;
    gap: 4.266666666666667vw;
  }

  .thirdCol {
    width: 100%;
    flex-direction: column;
  }

  .thirdCol p:nth-child(1) {
    margin-bottom: 5.333333333333334vw;
  }

  .card {
    display: flex;
    gap: 3.2vw;
    align-items: center;
    justify-content: flex-start;
  }

  .address {
    display: flex;
    flex-direction: column;
    gap: 4.266666666666667vw;
    width: 100%;
  }

  .card img {
    width: 5.333333333333334vw;
    height: 5.333333333333334vw;
  }

  .card h3 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 3.733333333333334vw;
    font-weight: 400;
    line-height: 5.866666666666666vw;
    font-feature-settings: "liga" 0;
  }

  .fourthCol {
    gap: 0;
    width: 100%;
  }

  .fourthCol p:nth-child(1) {
    margin-bottom: 5.333333333333334vw;
  }

  .socials {
    gap: 4vw;
  }

  .socials img {
    width: 10.666666666666668vw;
    height: 10.666666666666668vw;
  }

  .copyRightContainer {
    margin-top: 8.533333333333333vw;
  }

  .copyRight {
    padding-top: 3.2vw;
  }
}
