.mHeader {
  display: none;
}

.active {
  color: #5D50A2 !important;
}

.hContainer {
  width: 100%;
  box-sizing: border-box; /* Include padding and border in the total width */
  height: 6.283068783068783vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-style: initial;
  padding: var(--containerPadding);
  position: relative;
}

.logoContainer img {
  width: 11.904761904761903vw;
  height: 2.976190476190476vw;
}

.hMenuContainer {
  display: flex;
  align-items: center;
  gap: 3.968253968253968vw;
}

.hUlList {
  display: flex;
  gap: 2.6455026455026456vw;
  font-size: 1.1904761904761905vw;
  font-weight: 400;
  line-height: 1.6666666666666667vw;
  color: #fff;
  font-family: var(--font-Roboto);
  text-transform: capitalize;
  position: relative;
  white-space: nowrap;
}

.hUlList a:hover {
  color: #5D50A2;
}

.hUlList li {
  cursor: pointer;
}

/* Header Anim or Transi Start */

.huListTransitionWrapper {
  /* width: 100%; */
  height: 90%;
  overflow: hidden;
  position: relative;
  color: black;
}

.listHoverTop,
.listBottomHover {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-0%, -0%);
  transition: transform 0.6s ease;
}

.listHoverTop {
  transform: translate(0%, -0%);
}

.listHoverBottom {
  transition: transform 0.6s ease;
  transform: translate(0%, 250%);
}

.huListTransitionWrapper:hover .listHoverTop {
  transform: translate(0%, -250%);
}

.huListTransitionWrapper:hover .listHoverBottom {
  transform: translate(0%, 0%);
}

.dropdownMenu {
  position: absolute;
  left: 22vw;
  top: 5.5vw;
  width: 54.89417989417989vw;
  height: 17.46031746031746vw;
  background-color: #ffffff;
  border-radius: 1.0582010582010581vw;
  list-style: none;

  display: flex;
  gap: 1.3888888888888888vw;
  padding: 1.3227513227513228vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.0582010582010581vw;
}

.imgContainer {
  height: 11.904761904761903vw;
  position: relative;
  overflow: hidden;
}

.card:hover .icon {
  display: block;
}

.icon {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4.1005291005291005vw;
  height: 4.166666666666666vw;
}

.headerImg {
  width: 16.534391534391535vw;
  height: 11.904761904761903vw;
  border-radius: 1.0582010582010581vw;
}

.dropDownArrow {
  margin-left: 0.6613756613756614vw;
  margin-bottom: 0.1vw;
}

@media only screen and (max-width: 767px) {
  .hContainer {
    display: none;
  }
}
