.defualt {
  --font-Poppins: "Poppins", sans-serif;
  --verticalPadding: 0 9.920634920634921vw;
  --containerPadding: 0 6.613756613756613vw;
  --containerMarginTop: 9.25925925925926vw;
  --backgroundContainerPadding: 6.510416666666667vw 9.765625vw;
  --mobileContainerMarginTop: 16vw;
  --mobileContainerPadding: 0 6.4vw;
  --mobileBackgroundContainerPadding: 10.666666666666668vw 6.4vw;
  --borderRadius: 0.6613756613756614vw;
  --mobileBorderRadius: 2.666666666666667vw;
  --padding100: 6.613756613756613vw;
  --margin15: 0.992063492063492vw;
  --margin20: 1.3227513227513228vw;
  --margin30: 1.984126984126984vw;
  --margin70: 4.62962962962963vw;
  --margin100: 6.613756613756613vw;
  --gap70: 4.62962962962963vw;
  --gap20: 1.3227513227513228vw;
  --gap30: 1.984126984126984vw;
  --gap40: 2.6455026455026456vw;
  --gap50: 3.3068783068783065vw;
  --mainbgColor: #12171c;
  --bgColor: #0c1117;
  --font18: 1.1904761904761905vw;
  --font24: 1.5873015873015872vw;
  --font28: 1.8518518518518516vw;
  --lineHeight18: 1.6666666666666667vw;
  --lineHeight24: 2.2222222222222223vw;
  --lineHeight28: 2.169973544973545vw;
  --letterSpace18: 0.023809523809523808vw;
  --letterSpace24: 0.015873015873015872vw;
  --letterSpace28: 0.03703703703703704vw;
  --mfont16: 4.266666666666667vw;
  --mlineHeight16: 5.973333333333334vw;
  --mletterSpace16: 0.08533333333333333vw;

  --mfont12: 3.2vw;
  --mlineHeight12: 4.4799999999999995vw;
  --mletterSpace12: 0.4266666666666667vw;
  --mfont14: 3.733333333333334vw;
  --mlineHeight14: 5.226666666666667vw;
  --mletterSpace14: 0.4266666666666667vw;

  --mfont18: 4.8vw;
  --mlineHeight18: 5.624vw;
  --mletterSpace18: 0.4266666666666667vw;
}

.container {
  margin-top: var(--containerMarginTop);
  padding: var(--verticalPadding);
}

.tittle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards {
  display: flex;
  flex-direction: column;
  margin-top: var(--margin70);
  gap: 1.5873015873015872vw;
}

.card {
  padding: 1.6534391534391533vw 1.984126984126984vw 1.984126984126984vw
    1.984126984126984vw;
  background: #f5f5f5;
  border-radius: 1.5873015873015872vw;

  display: flex;
  position: relative;
  transition: all 0.4s ease;
}

.details {
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  max-height: 0;
  opacity: 0;
}

.expanded {
  max-height: 1000px; /* Arbitrary large value */
  opacity: 1;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

.openCloseIcon {
  transition: transform 0.5s ease;
}

.left {
  display: flex;
  height: 100%;
  width: 15.145502645502646vw;
}

.left h6 {
  width: 7.87037037037037vw;
  height: 2.7777777777777777vw;
  background: #3763eb;
  border-radius: var(--margin100);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.1904761904761905vw;
  font-weight: 400;
  line-height: 1.7195767195767195vw;
  color: #ffffff;
  font-family: var(--font-Poppins);
  font-feature-settings: "liga" 0;
}

.right {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.headingText {
  display: flex;
  justify-content: space-between;
}

.desc1 {
  margin-top: 1.5873015873015872vw;
}

.desc2 {
  margin-top: 1.3227513227513228vw;
}

.points {
  display: flex;
  flex-direction: column;
  gap: 0.7936507936507936vw;
  margin-top: 1.0582010582010581vw;
  padding-left: 0.5vw;
}

.bulletPointWrap {
  display: flex;
}

.bulletPoint {
  background: #010202;
  width: 0.6613756613756614vw;
  height: 0.6613756613756614vw;
  border-radius: 0.6613756613756614vw;
}

.points li {
  font-size: 1.1904761904761905vw;
  font-weight: 400;
  line-height: 1.7195767195767195vw;
  color: #272828;
  font-family: var(--font-Poppins);
  font-feature-settings: "liga" 0;
}

.plusIcon {
  width: 2.6455026455026456vw;
  height: 2.6455026455026456vw;
  border-radius: 2.6455026455026456vw;
  margin-right: 1.0582010582010581vw;
  position: relative;
  cursor: pointer;
  background-color: #e9f3ff;
  position: absolute;
  right: 1vw;
}

.plusIcon img {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 767px) {
  .container {
    margin-top: 16vw;
    padding: 0 6.4vw;
  }

  .tittle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tittle h2 {
    width: 60vw;
    text-align: center;
    margin-top: 1.5vw;
  }

  .cards {
    display: flex;
    flex-direction: column;
    margin-top: 8vw;
    gap: 4.266666666666667vw;
  }

  .card {
    padding: 4.266666666666667vw;
    background: #f5f5f5;
    border-radius: 4.266666666666667vw;

    display: flex;
    position: relative;
    transition: all 0.4s ease;
  }

  .left {
    width: auto;
  }

  .left h6 {
    width: 26.13333333333333vw;
    height: 9.066666666666666vw;
    border-radius: 26.666666666666668vw;

    font-size: 3.733333333333334vw;
    font-weight: 400;
    line-height: 5.866666666666666vw;
    font-feature-settings: "liga" 0;
  }

  .right {
    display: flex;
    flex-direction: column;
    width: 65%;
  }

  .headingText {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .headingText h3 {
    order: 1;
    margin-top: 4.8vw;
    margin-left: -25vw;
    width: 78.66666666666666vw;
  }

  .headingText p {
    margin-left: 5vw;
    margin-top: 2vw;
  }

  .expanded {
    margin-left: -25vw;
  }

  .desc1 {
    margin-top:3.2vw;
  }

  .desc2 {
    margin-top: 2.1333333333333333vw;
  }

  .points {
    display: flex;
    flex-direction: column;
  }

  .bulletPointWrap {
    display: flex;
  }

  .bulletPoint {
    background: #010202;
    width: 0.6613756613756614vw;
    height: 0.6613756613756614vw;
    border-radius: 0.6613756613756614vw;
  }

  .points {
    gap: 1.0666666666666667vw;
    margin-top: 2.1333333333333333vw;
  }

  .points li {
    font-size: 3.733333333333334vw;
    font-weight: 400;
    line-height: 5.866666666666666vw;
    font-feature-settings: "liga" 0;
    padding-left: 1.5vw;
  }

  .point::marker {
    font-size: 1em;
    margin-left: -100px !important;
  }

  .plusIcon {
    width: 8vw;
    height: 8vw;
    border-radius: 8vw;
    margin-right: 1.0582010582010581vw;
    position: relative;
    cursor: pointer;
    background-color: #e9f3ff;
    position: absolute;
    right: 2vw;
  }

  .plusIcon img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
